/* to be deleted */
#params{
  font-size: 70%;
  background-color: #585858;
  margin-top:30px;
  border-radius: 3px;
  border-style: dotted;
  border-width: 1px;


}

/* start*/
html,body
{
    background-color: #EEEEEE;
    padding: 0px;
    margin: 0px;   
    cursor: default; 
}


#menu,.topline
{
	background-color: #DADADA;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;

}



.menubig,.menuscroll
{
    width:100%;
    position: fixed;
    height: 25px;
    margin-top: 0;    
    z-index: 3;
    top:0;
    padding: 5px;
    padding-left: 100px;
    font-size: 17px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.menubig a{
  text-decoration:none; 
  padding: 0px 8px 26px 8px!important;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.menuscroll a{
  text-decoration:none; 
  padding: 2px 8px 10px 8px!important;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.menusmall
{
  text-align: center;
  font-size: 17px;
  background-color: #456;
  position: relative;
  border-radius: 5px;
  height: 100%;
  padding: 0px;
  margin-top: 50px;
}

.menusmall a{
  text-decoration:none;
  padding: 7px ;
  display: block;
}

.lactivated
{
  border-radius: 20px;
  border-color: #ccc;
  border-style: solid;
  opacity: 0.5;
}


#logo
{
 	width:40px;
 	height:40px;
 	margin:0;
 	top: 0;
 	left: 5px;   	
	padding: 2px;
	position: fixed;
	z-index: 4;
}
#logo img 
{
	width:40px;
  height:40px;
}

.hidetext
{
  display: none;
}


.amenu,.showtext h1
{
  background-color: #C0C0C0;
}

/* unvisited link */
a:link {    
    font-style: normal; 
}

/* visited link */
a:visited {
    color: #777;
    font-style: normal;
}

/* mouse over link */
a:hover {
    color: #fff;
    font-style: normal;
    background-color: #A0A0A0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

img:hover
{
  opacity: 1;
  width:60px;
  height:60px;
}


li {
	cursor: default;
}

.hiden{
  display: none;
}


.topline
{
 position: fixed; 
 top: 0;
 z-index: 3;
 width: 100%;
 display:inline-block;
}

.headline{
  padding: 0;
  display: inline-block;
}


.right{  
  display: inline-block;
  right:0;
  position: absolute;
}

.headline h1 
{
  padding-left: 60px;
  margin: 0;
  padding-bottom: 0;
}


.showtext h1
{
  padding-left: 20px;
  margin: 0px;
  border-radius: 3px 3px 0 0;
}


.showtext{
  font-size: 11pt;
  margin-top: 50px;
  margin-right:3%;
  margin-left: 3%;
  position:relative;
  height: 100%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color:#C0C0C0;
  display: block;
  
}
.intext{
  padding: 10px;
}








@media only screen and (max-device-width: 600px) {

html
{
  float: none;
}
  #menu
  {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 17px;
    position: relative;
    height: 100%;
    padding: 0px;
    padding-top: -3px;
    display: none;
    iammedia:true;
    margin-top: 50px;

  }


  #menu a{
    text-decoration:none;
    border-bottom-style: solid; 
    border-bottom-color: #A0A0A0;   
    padding: 7px ;
    display: block;
  }


  #logo
  {
    border-radius: 20px;
    border-color: #A0A0A0;
    border-style: solid;
    opacity: 0.5;
    width:40px;
    height:40px;
  }

  .topline{
    height: 40px
  }

  .showtext{
    margin-top: 60;
  }
}

@media only screen {

/* mouse over link */
  a:hover {    
    font-style: normal;
    background-color: #C0C0C0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .amenu{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}

